h1 {
    font-size: 400%;
    color: #ccccff;
    font-family: "Arial", serif;
    font-weight: bolder;
    margin-left: 30px;
}

h2 {
    font-size: 300%;
    color:  #cornflowerblue;
    font-family: "Arial", serif;
    font=weight: bolder;
}

h3 {
    font-size: 200%;
    color:  #ff3333;
    font-family:
    }

body {
    background-color: lightyellow;
}

.sectionbox {
  border: solid 4px black;
  background-color: #ffddcc;
  width: 1200px;
  padding: 25px;
  margin-left: 30px;
  margin-right: 70px;
  margin-top: 20px;
}

p {
  font-size: 150%;
  color: black;
}

#output{
  padding-top: 20px;
  font-size: 130%;
  margin-left: 200px;
}

#activate {
  background-color: darkgrey;
  color: white;
  padding: 50px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 30px;
  border-radius: 80%;
  margin-left: 200px;
}
