
#output {
  column-count: 4;
  column-rule-style: solid;
  border: solid 6px black;
  background-color: #cceeff;
  width: 1000px;
  padding: 25px;
  margin-left: 30px;
  margin-right: 70px;
  margin-top: 20px;
}

h1 {
    font-size: 400%;
    color:  #4d004d;
    font-family: "Arial", serif;
    font-weight: bolder;
}

h2 {
    font-size: 300%;
    color: #9900cc;
    font-family: "Arial", serif;
}

h3 {
    font-size: 300%;
    color:  #9900cc;
    font-family:"Arial", serif;
    }

body {
    background-color: #00b386;
}

.sectionbox {
  border: solid 6px black;
  background-color: #cceeff;
  width: 1000px;
  padding: 25px;
  margin-left: 30px;
  margin-right: 70px;
  margin-top: 20px;
}

p {
  font-size: 150%;
  color: black;
}
